﻿@using calculator_application.Models
@model System.Collections.Generic.List<calculator_application.Models.Operation>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Calculate", "Calculator", FormMethod.Post, Model))
        {

            <input type="text" style="width: 300px" name="number" />
            <input type="submit" value="add" name="add" />
            <input type="submit" value="clear" name="clear" />


        }
        @if (Model != null)
        {
            <ul>
                @foreach (var operation in Model.ToList())
                {
                    <li>
                        @operation.Number
                    </li>
                }
            </ul>
        }
    </div>

</body>
</html>