﻿@using calculator_application.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <script>
        
    </script>
</head>

<body>
    <div>
        @using (Html.BeginForm("Calculate", "Calculator", FormMethod.Post))
        {

            <input type="text" style="width: 300px" name="number" />
            <input type="submit" value="add" name="add" />
            <input type="submit" value="clear" name="clear"/>

            
        }
        
    </div>

</body>
</html>